h1 {
  color: green;
}

body {
  text-align: center;
  margin: auto;
  -webkit-animation-delay: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-duration: 0.1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}


@-webkit-keyframes fontfix {
  from { opacity: 1; }
  to   { opacity: 1; }
}

/* navbar */
#navbar{
  padding: 10px;
}

#doglogo{
  float: left;
  margin-left: 10px;
}

.loginbutton, .dogbutton{
  background-color: #93D5FF;
  border: #93D5FF;
  font-family: 'Comfortaa', cursive;
  font-size: 60%;
}

.dogbutton{
  background-color: #FF7C68;
  border:  #FF7C68;
}

.dogName{
  color: #AC926E;
  font-family: 'Comfortaa', cursive;
  font-size: 150%;
}

.dogprofileimage{
  border: 0px solid black;
  border-radius: 50%;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 75%;
}

.right{
  float:right;
}


/* login */

#loginbox{
  margin-top: 20%;
}

.dogTile{
  border: 1px solid rgb(216, 216, 216);
  padding: 10px;
  margin: 10px;
}

.dogDesc {
  margin-top: 5%;
}

.dogProfileCol{
  float: left;
}

.dogTileContainer {
  padding: 10px;
  margin: 10px;
}

.alignHorizontal{
  display:flex; 
  flex-direction:row;
}