h1 {
  color: green;
}

body {
  text-align: center;
  margin: auto;
  -webkit-animation-delay: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-duration: 0.1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}


@-webkit-keyframes fontfix {
  from { opacity: 1; }
  to   { opacity: 1; }
}

/* navbar */
#navbar{
  padding: 10px;
}

#doglogo{
  float: left;
  margin-left: 10px;
}

.loginbutton, .dogbutton{
  background-color: #93D5FF;
  border: #93D5FF;
  font-family: 'Comfortaa', cursive;
  font-size: 60%;
}

.dogbutton{
  background-color: #FF7C68;
  border:  #FF7C68;
}

.dogName{
  color: #AC926E;
  font-family: 'Comfortaa', cursive;
  font-size: 150%;
}

.dogprofileimage{
  border: 0px solid black;
  border-radius: 50%;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 75%;
}

.right{
  float:right;
}

.dogTile{
  border: 1px solid rgb(216, 216, 216);
  padding: 10px;
  margin: 10px;
}

.dogDesc {
  margin-top: 5%;
}

.dogProfileCol{
  float: left;
}

.dogTileContainer {
  padding: 10px;
  margin: 10px;
}

.dogProfile{
  margin-top: 40px;
  margin-left: 10px;
}

.profilePic {
  border: 0px solid black;
  border-radius: 50%;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 50%;
}

.dogStatus {
  border: 1px solid black;
  border-radius: 25%;
  width: fit-content;
  margin-left: 40%;
  padding: 10px;
}

.attributes .row {
    margin: 30px;
}

.manageDog {
  background: white;
  border: 1px solid black;
  text-align: left;
  padding: 20px;
  margin: 10px;
}

.editProfileButton {
  margin-top: 20px;
}

.switchText {
  margin-top: 20px;
}

.yesButton {
  margin-left: 10px;
  border-radius: 3px 0 0 3px;
  border: 1px solid rgb(113, 151, 109);
  background-color: white;
  color: rgb(113, 151, 109);
}

.noButton {
  border-radius: 0 3px 3px 0;
  border: 1px solid rgb(173, 0, 0);
  background-color: white;
  color: rgb(173, 0, 0);
}

.noButton:disabled {
  background-color: red;
  border: 1px solid red;
}

.yesButton:disabled {
  background-color: rgb(0, 173, 0);
  border: 1px solid rgb(0, 173, 0);
}

.visiting {
  background: white;
  border: 1px solid black;
  text-align: left;
  padding: 20px;
  margin: 10px;
}